---

---

<div class="w-[500px] p-5">
    <h2 class="font-bold text-3xl my-5">El centro de acopio es un lugar de recoleccion</h2>

    <p class="mb-4 break-all ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aut, eum doloremque quae sapiente fuga qui optio porro perspiciatis nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis ab quos eum itaque quas, eaque velit consequatur eos qui corrupti!</p>
    <p class="mb-4 break-all ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius incidunt velit deserunt perspiciatis veritatis quam quos aspernatur repellendus necessitatibus vero!</p>
    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Mas informacion</button>


</div>